{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% trans "Portfolio site of An Verhuizen" %}">
        <meta name="author" content="Maarten Timmerman">
        <!-- Bootstrap -->
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
        <link href="{% static "portfolio_an/css/screen.css" %}" rel="stylesheet">
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="../assets/js/html5shiv.js"></script>
        <![endif]-->
    
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">
        <link rel="shortcut icon" href="{% static "ico/favicon.png" %}">
    </head>
    <body>
        <!-- NAVBAR
        ================================================== -->
        <div class="navbar-wrapper">
          <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
          <div class="container">
    
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>
                    <div class="navbar-collapse navbar-inner" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" style="width:90%">
                            <li><a href="#aboutme">{% trans "Over mij" %}</a></li>
                            <li><a href="#services">{% trans "Diensten" %}</a></li>
                            <li><a href="#faq">{% trans "FAQ" %}</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">{% trans "Contact" %}</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
          </div> <!-- /.container -->
        </div><!-- /.navbar-wrapper -->
        {% block content %}{% endblock %}
        <div class="container">
            <!-- FOOTER -->
            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2014 An Verhuizen &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>