/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 979px) {
  /* line 6, ../sass/responsive.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 10, ../sass/responsive.scss */
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  /* line 16, ../sass/responsive.scss */
  .carousel .item {
    height: 500px;
  }
  /* line 20, ../sass/responsive.scss */
  .carousel img {
    width: auto;
    height: 500px;
  }

  /* line 26, ../sass/responsive.scss */
  .featurette {
    height: auto;
    padding: 0;
  }

  /* line 31, ../sass/responsive.scss */
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}
@media (max-width: 767px) {
  /* line 41, ../sass/responsive.scss */
  .navbar-inner {
    margin: -20px;
  }

  /* line 45, ../sass/responsive.scss */
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  /* line 52, ../sass/responsive.scss */
  .carousel .item {
    height: 300px;
  }
  /* line 56, ../sass/responsive.scss */
  .carousel img {
    height: 300px;
  }

  /* line 60, ../sass/responsive.scss */
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  /* line 65, ../sass/responsive.scss */
  .carousel-caption h1 {
    font-size: 30px;
  }
  /* line 69, ../sass/responsive.scss */
  .carousel-caption .lead, .carousel-caption .btn {
    font-size: 18px;
  }

  /* line 74, ../sass/responsive.scss */
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  /* line 78, ../sass/responsive.scss */
  .featurette-heading {
    font-size: 30px;
  }

  /* line 81, ../sass/responsive.scss */
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}
