/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* line 10, ../sass/screen.scss */
body {
  ppadding-bottom: 40px;
  color: #5a5a5a;
}

/* NAVBAR
 * ------- */
/* line 18, ../sass/screen.scss */
.navbar-90 {
  min-width: 90%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 26, ../sass/screen.scss */
.carousel {
  margin-bottom: 60px;
}
/* line 29, ../sass/screen.scss */
.carousel .container {
  position: relative;
  z-index: 9;
}
/* line 34, ../sass/screen.scss */
.carousel .item {
  height: 500px;
}
/* line 38, ../sass/screen.scss */
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* line 47, ../sass/screen.scss */
.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

/* line 57, ../sass/screen.scss */
.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
/* line 64, ../sass/screen.scss */
.carousel-caption h1, .carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
/* line 71, ../sass/screen.scss */
.carousel-caption .btn {
  margin-top: 10px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 82, ../sass/screen.scss */
.marketing .span4 {
  text-align: center;
}
/* line 85, ../sass/screen.scss */
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 91, ../sass/screen.scss */
.marketing h2 {
  font-weight: normal;
}

/* Featurettes
------------------------- */
/* line 99, ../sass/screen.scss */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

/* line 103, ../sass/screen.scss */
.featurette {
  padding-top: 120px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
}

/* line 108, ../sass/screen.scss */
.featurette-image {
  margin-top: -120px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
/* line 113, ../sass/screen.scss */
.featurette-image.pull-left {
  margin-right: 40px;
}

/* line 117, ../sass/screen.scss */
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
/* line 122, ../sass/screen.scss */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Breadcrumb
 * ------------ */
/* line 132, ../sass/screen.scss */
.breadcrumb {
  background-color: #fff;
  margin: 10px 10px 10px;
}
